body {
  margin: 0;
}
header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  display: block;
  padding: 0;
}
.webcam {
  text-align: center;
  margin-bottom: 20px;
}
.predict-something {
  text-align: center;
}
.button {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;
  font-size: 24px;
}

.button:active {
  background: #00bcd4;
  color: white;
}
.predict-display {
  text-align: center;
  font-size: 20px;
  max-width: 100%;
}
.container {
  width: 100%;
  max-width: 980px;
  margin: auto;
}
.flex {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.axis path, .axis line{
  fill:none;
  stroke:black;
}
.axis text {
  fill:black;
}

.hidden {
  display: none;
}

.display-text-and-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-tai-img-section {
  width: 50px;
}
